<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книжная полка</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <br/>
    <input id="title" th:field="*{title}" type="text"/>
    <div style="color:red" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Ошибка</div>
    <br/>
    <br/>
    <label for="coverUrl">Добавьте обложку книги: </label>
    <br/>
    <input id="coverUrl" th:field="*{coverUrl}" type="file"/>
    <div style="color:red" th:errors="*{coverUrl}" th:if="${#fields.hasErrors('coverUrl')}">Ошибка</div>
    <br/>
    <br/>
    <label for="description">Добавьте описание книги: </label>
    <br/>
    <textarea id="description" th:field="*{description}"></textarea>
    <div style="color:red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Ошибка</div>
    <br/>
    <br/>
    <label for="pageCount">Введите количество страниц: </label>
    <br/>
    <input id="pageCount" th:field="*{pageCount}" type="number"/>
    <div style="color:red" th:errors="*{pageCount}" th:if="${#fields.hasErrors('pageCount')}">Ошибка</div>
    <br/>
    <br/>
    <input type="submit" value="Добавить"/>
</form>
</body>
</html>